page-recite-passage {
  .recite-passage.forgetica-enabled {
    font-family: "Sansforgetica";
  }

  .recite-passage-fab {
    background-color: #3f45b7;
  }

  .scroll-content {
    padding: 16px;
  }

  .recite-passage {
    position: relative;
    margin-left: 50px;
    font-size: 16px;
  }

  .verse-num {
    color: #488aff;
    position: absolute;
    left: -30px;
    font-weight: bold;
  }
}
