page-recite-passage {
  .recite-passage-fab {
    background-color: #3f45b7;
  }

  .scroll-content {
    padding: 16px;
  }

  .recite-passage {
    font-size: 16px;
    margin-left: 44px;
    padding-left: 12px;
    position: relative;

    &.forgetica-enabled {
      font-family: map-get($font-family, forgettable);

      span {
        font-family: map-get($font-family, default);
      }
    }
  }

  .verse-num {
    color: #488aff;
    display: inline-block;
    font-weight: bold;
    left: -44px;
    min-width: 36px;
    position: absolute;
    text-align: left;
  }
}
