<!--
  Generated template for the RecitePassagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{reference}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <div
    [class]="contentClass"
    *ngFor="let part of shown"
    (click)="onShowPart()"
    [innerHTML]="part">
  </div>
  <br/>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons class="recite-footer">
      <span>
        <button ion-button *ngIf="endOfPassage && previousPassageExists" (click)="onPrevious()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </span>
      <span class="span-inner-left">
        <button ion-button (click)="onGoBack()" (press)="onHideAll()">
          <ion-icon name="undo"></ion-icon>
        </button>
      </span>
      <span class="span-inner-right">
        <button ion-button (click)="onRecite()">
          <ion-icon name="mic"></ion-icon>
        </button>
      </span>
      <span>
        <button ion-button *ngIf="endOfPassage && nextPassageExists" (click)="onNext()">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<ion-fab bottom center>
  <button ion-fab class="recite-passage-fab" (click)="onShowPart()" (press)="onShowAll()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
