<ion-header>
  <ion-navbar>
    <ion-title>{{reference}}</ion-title>

    <ion-buttons end>
      <span class="btnPlayPause">
        <button class="btnPlayPause__icon" [disabled]="!networkAvailable" ion-button (click)="onAudioToggle()" aria-label="Listen to the passage">
          <ion-icon name="{{ playPauseIcon }}"></ion-icon>
        </button>


      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content (click)="onShowPart()">

  <div class='audioPlayer {{ playPauseIcon === "pause" ? "audioPlayer--open" : "audioPlayer--closed" }}'>
    <button class='audioPlayer__repeat {{ repeatIcon !== false ? "audioPlayer__repeat--active" : "audioPlayer__repeat--inactive" }}' (click)="onRepeatToggle()" aria-label="Repeat">
      <ion-icon class="audioPlayer__repeat__btn" name="repeat"></ion-icon>
      {{ repeatIcon === false ? "Repeat" : repeatIcon }}
    </button>

    <div class="audioPlayer__scrubber">
      <span class="audioPlayer__scrubber__location"></span>
    </div>
  </div>

  <div (swipeleft)="swipeLeftEvent($event)" (swiperight)="swipeRightEvent($event)" style="">
    <p
      [class]="contentClass"
      *ngFor="let part of shown"
      [innerHTML]="part">
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-label ngClass="esv-copylabel" (click)="showESVCopyright()">
    Scripture taken from the ESV. <span>Find out more</span>.
  </ion-label>

  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button (click)="onRecite()" *ngIf="speechEnabled" aria-label="Check your memorisation by reciting the passage">
        <ion-icon name="mic"></ion-icon>
      </button>
      <button ion-button (click)="onGoBack()" (press)="onHideAll()" aria-label="Hide previous segment of the passage" *ngIf="shown.length > 0">
        <ion-icon name="undo"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-fab bottom center>
  <button ion-fab class="recite-passage-fab" (click)="onShowPart()" (press)="onShowAll()" aria-label="Show next segment of the passage">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
