<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="info()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="searchContainer">
    <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>

    <button ion-button (click)="search()">
      Search
    </button>
  </div>

  <ion-list *ngIf="passages">
    <ion-item *ngFor="let passage of passages" (click)="selectPassage(passage)">
      <h2>{{passage.reference}}</h2>
      <p>{{passage.content}}</p>
      <ion-icon name="add" item-end></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
